@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 63%;
}
body{
    height: 100vh;
}


.customer-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 7rem 9%;
    
   
    
}
.customer-content h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.8;
    color: #3C84AB;
}
.customer-content .container-box{
    padding: 2.5rem 1rem 2rem 1rem;
    width: 100%;
    border: 1px solid rgba(134, 133, 133, 0.6);
    border-radius: .5rem;
    box-shadow: .1rem .1rem .2rem rgba(134, 133, 133, 0.6);
    position: relative;
    transition: all .3s ease;
    
}
.customer-content .container-box:hover{
    box-shadow: .1rem .1rem 1rem rgba(134, 133, 133, 0.6);
}
.customer-content .container-box form{
    width: 100%;
    
}
.customer-content .container-box form .input-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 0 3.5rem;
}
.left-input{
    display: flex;
    flex-direction: column;
}
.left-input input{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1px solid rgba(134, 133, 133, 0.6);
    border-radius: .5rem;
}
.right-input{
    display: flex;
    flex-direction: column;
}
.right-input input{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1px solid rgba(134, 133, 133, 0.6);
    border-radius: .5rem;
}
.customer-content .container-box button{
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 3.5rem;
    margin-top: 1rem;
    padding: .7rem 2rem;
    outline: none;
    border: none;
    border-radius: .2rem;
    background: #3C84AB;
    color: #e4e0e0;
    cursor: pointer;
    transition: all .4s ease;
}
.customer-content .container-box button:hover{
    color: #fff;
    background: #53a8d5;
}
.customer-content .container-box span{
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(220, 17, 17);
    margin-left: 3rem;
}

/* customer table */

.customer-table{
    margin-top: 2rem;
    width: 100%;

}
.customer-table .table-container{
    padding: 2rem 1rem;
    width: 100%;
    border: 1px solid rgba(134, 133, 133, 0.6);
    border-radius: .5rem;
    box-shadow: .1rem .1rem .2rem rgba(134, 133, 133, 0.6);
    position: relative;
    transition: all .3s ease;
   
}
.customer-table .table-container:hover{
    box-shadow: .1rem .1rem 1rem rgba(134, 133, 133, 0.6);
}
.customer-table .table-container table{
    border-radius: .2rem;
}
.customer-table .table-container table th{
    font-size: 1.3rem;
    font-weight: 500;
}
.customer-table .table-container table td{
    font-size: 1.2rem;
    font-weight: 300;
}


/* navbar section */
.navbar{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    box-shadow: .1rem .1rem 1rem rgba(134, 133, 133, 0.6); 
    background: #3C84AB;
    color: #fff;  
    
}
.navbar .logo{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.navbar .logo img{
    width: 50px;
}
.navbar .logo h2{
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 1rem;
}
.navbar nav{
    margin-right: 5%;
}
.navbar nav ul{
    list-style: none;
}
.navbar nav ul li{
    display: inline-block;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #ebe8e8;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    font-weight: 500;
    position: relative;
    transition: all .4s;
}
.navbar nav ul li a:hover{
    color: #fff;
}
.navbar nav ul li a::after{
    content: '';
    left: 0;
    bottom: -8%;
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .4s;
}
.navbar nav ul li a:hover::after{
    width: 100%;
    
}



/* footer */
.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    border-top: 1px solid rgba(134, 133, 133, 0.6);
    z-index: 1;
    display: none;
}
.footer p{
    font-size: 1.2rem;
    font-weight: 300;
}
.footer span{
    color: #116c9d;
}
/* Alert Message */

.alert-msg{
    position: fixed;
    right: .5rem;
    bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(87, 154, 128, 0.924);
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: #fff;
    z-index: 20;
    box-shadow: .2rem .2rem .2rem rgba(134, 133, 133, 0.6);
    border-top: 2px solid green;
    transition: all .5s linear;
}
.alert-msg .icon{
    margin-right: 1rem;
    font-size: 2rem;
}
.alert-msg .msg span{
    font-size: 1.2rem;
    font-weight: 500;
}
.alert-msg .msg p{
    font-size: 1.1rem;
    font-weight: 300;
}






@media(max-width: 991px){
    html{
        font-size: 55%;
    }
}



@media(max-width: 720px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 480px){
    html{
        font-size: 45%;
    }
}