@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
html{
    font-size: 62.2%;
}
body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background: url(images/115.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .lottery{
    padding: 4rem;
    width: 550px;
    background: rgb(46, 45, 45);
    border-radius: .5rem;
    box-shadow: .1rem .1rem 1rem rgba(163, 160, 160, 0.5);
    transition: all .3s ease-in-out;
    border: 1.2rem solid #ff093a;
    box-shadow: 0rem 1.5rem 2rem rgba(7, 7, 7, 0.6);
    background-image: url(images/slotmachine.PNG);
    background-position: center;
    background-size: cover;
    position: relative;

}
#message{
    font-size: 5rem;
    font-weight: 700;
    background: #921515dd;
    padding: .5rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    color: #c99121;
    border-right: 1.2rem solid #ff093a;
    border-top: 1.2rem solid #ff093a;
    border-left: 1.2rem solid #ff093a;
    
}

.container .lottery .lottery-box{
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #c99121;
    box-shadow: 1rem 1rem .1rem rgba(7, 7, 7, 0.6);
    border-radius: .5rem;
}
.container .lottery .lottery-box .odometer{
    width: 120px;
    height: 150px;
    text-align: center;
    font-size: 15rem;
    font-weight: 700;
    margin-right: 2rem;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 250, 250, 0.6);
    border: 2px solid rgba(8, 8, 8, 0.6);
    box-shadow: -1rem -1rem .1rem rgba(134, 133, 133, 0.6);
    box-shadow: 1rem 1rem .1rem rgba(30, 19, 19, 0.6);
}
.container .lottery .lottery-box .odometer:last-child{
    margin-right: 0;
}

.container .lottery-input{
    margin-top: 2.5rem;
    padding: 3rem 6rem;
    background: #5c276b;
    border-radius: .5rem;
    width: 550px;
    box-shadow: 0rem 1.5rem 2rem rgba(7, 7, 7, 0.6);
    border: 1.2rem solid #ff093a;
}
.container .lottery-input h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: linear-gradient(to right, #FF0032, #5D3891);
}
.container .lottery-input .lottery-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    padding: 2rem 0;
    border-radius: .5rem;
    box-shadow: .5rem .5em 1.5rem rgba(126, 125, 125, 0.6);
}
.container .lottery-input .lottery-box input{
    width: 65px;
    height: 80px;
    margin-right: 1rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    outline: none;
    background: rgba(255, 250, 250, 0.6);
    border: 2px solid rgba(8, 8, 8, 0.6);
    box-shadow: .1rem .1em .1rem rgba(30, 19, 19, 0.6);
    border-radius: .5rem;
    
    
}
.container .lottery-input .lottery-box input:last-child{
    font-size: 1.7rem;
    cursor: pointer;
    box-shadow: .1rem .1em .1rem rgba(30, 19, 19, 0.6);
    border-radius: .5rem;
    
    
}

.image{
    position: absolute;
    right: 0;
}
.image .slot{
    position: absolute;
    right: -12.5rem;
    top: -1rem;
    
}
.image .baston{
    position: absolute;
    right: -13rem;
    top: -8.2rem;
    
}





/* navbar section */
.navbar{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    box-shadow: .1rem .1rem 1rem rgba(134, 133, 133, 0.6); 
    background: #3C84AB;
    color: #fff;  
    
}
.navbar .logo{
    display: flex;
    align-items: center;
    margin-left: 9%;
}
.navbar .logo img{
    width: 50px;
}
.navbar .logo h2{
    font-size: 3.5rem;
    font-weight: 700;
}
.navbar nav{
    margin-right: 9%;
}
.navbar nav ul{
    list-style: none;
}
.navbar nav ul li{
    display: inline-block;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #ebe8e8;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    font-weight: 500;
    position: relative;
    transition: all .4s;
}
.navbar nav ul li a:hover{
    color: #fff;
}
.navbar nav ul li a::after{
    content: '';
    left: 0;
    bottom: -8%;
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .4s;
}
.navbar nav ul li a:hover::after{
    width: 100%;
    
}

.marquee-h1{
    margin-top: 2.5rem;
    font-size: 5rem;
    font-weight: 500;
    color: green;
    
}
.marquee-h1 span{
    color: blue;
    font-weight: 500;
}


/* sweet alert */
.swal2-title {
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
  }
  
  .swal2-content {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
  
  .swal2-popup {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  .entries{
    position: fixed;
    width: 20rem;
    height: 10rem;
    z-index: 10;
    top: 7rem;
    right: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .5rem;
    background: linear-gradient(to right, #5D3891, #5c276b);
    border: 3px solid #ff093a;
    box-shadow: .2rem .2rem 1rem rgba(126, 125, 125, 0.6);

  }
  .entries h5{
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin: .5rem;
  }
  .entries .entries-box input{
    width: 100%;
    height: 5rem;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 500;
    border-radius: .5rem;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
  }















@media(max-width: 991px)
{
    html{
        font-size: 55%;
    }
}



@media(max-width: 720px)
{
    html{
        font-size: 50%;
    }
}

